.password {
  position: relative;

  &__loading {
    font-size: 1rem;
  }
  &__spinner {
    animation: spin 1s linear infinite;
    animation-play-state: paused;
    transition: all 1s ease-in;
    position: absolute;
    top: .8rem;
    right: .8rem;
    &_start {
      animation-play-state: running;
      transition: all 1s ease-in;
    }
  }
  &__table {
    tbody {
      tr {
        td {
        }
      }
    }
  }
  &__item {
    &_drag {
      left: 0;
      position: absolute;
      z-index: 999;
      td {
        background-color: red;
      }
    }
    &_blank {
      td {
        background: $sea;
      }
    }

    td {
      padding: 0;
      position: relative;
    }
    &.password__empty-msg {
      td {
        padding: .75rem;
      }
    }
  }
  &__tools {
    font-size: 0.8rem;
    position: absolute;
    top: .4rem;
    right: .5rem;
    a {
      margin-left: 5px;
    }
  }
  &__move {
    color: $gray;
    &:hover {
      cursor: move;
      color: $gray;
    }
  }
  &__remove {
    color: $red;
    &:hover {
      color: lighten($red, 20%);
    }
  }
  &__input {
    font-size: 12px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }

    &_protect {
      -webkit-text-security: disc;
    }
  }
}